<div class="product-view {{ class }}">
    <a href="{{ href|default('') }}">
        <img width="96" height="96"
             src="{{ image|default('https://premier-demo.ru/upload/resize_cache/iblock/a84/192_192_1/goaqzv53n9svrropgfrarjtxeh92fwqa.jpg') }}"
             alt="{{ title|default('') }}">
    </a>

    <a href="{{ href|default('') }}" class="product-view__title">
        {{ title|default('Классическая помада Fior 133 Беспечный розовый') }}
    </a>

    <div class="product-view__bottom">
        {% include 'shop/price.twig' with {
            old: price.old|default('1 600 ₽/шт'),
            now: price.now|default('1 300 ₽/шт'),
            size: 'sm',
            class: 'product-view__price'
        } %}

        {% if badge %}
            {% include 'components/ui/badge.twig' with {
                text: badge.text|default('-10%'),
                type: badge.type|default('red'),
                size: badge.size|default('sm'),
                tag: 'div'
            } %}
        {% endif %}
    </div>
</div>
