{% set type = type|default('text') %}
{% set input_classes = 'form-input' %}
{% if size %}{% set input_classes = input_classes ~ ' form-input--' ~ size %}{% endif %}
{% if theme %}{% set input_classes = input_classes ~ ' form-input--theme-' ~ theme %}{% endif %}
{% if error %}{% set input_classes = input_classes ~ ' is-invalid' %}{% endif %}
{% if class %}{% set input_classes = input_classes ~ ' ' ~ class %}{% endif %}

{% set wrapper_classes = 'form-input-wrapper' %}
{% if type == 'password' %}{% set wrapper_classes = wrapper_classes ~ ' is-password' %}{% endif %}
{% if icon_left %}{% set wrapper_classes = wrapper_classes ~ ' has-icon-left' %}{% endif %}
{% if icon_right %}{% set wrapper_classes = wrapper_classes ~ ' has-icon-right' %}{% endif %}

<div class="form-group">
    {% if label %}
        <label {% if id %}for="{{ id }}"{% endif %} class="form-label">{{ label }}</label>
    {% endif %}
    
    <div class="{{ wrapper_classes }}">
        {% if icon_left %}
            <svg class="form-input-icon form-input-icon--left">
                <use href="img/svg-icons-final.svg#{{ icon_left }}"></use>
            </svg>
        {% endif %}
        <input 
            type="{{ type }}"
            class="{{ input_classes }}"
            {% if id %}id="{{ id }}"{% endif %}
            {% if name %}name="{{ name }}"{% endif %}
            {% if value %}value="{{ value }}"{% endif %}
            {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
            {% if required %}required{% endif %}
            {% if disabled %}disabled{% endif %}
        >

        {% if icon_right and type != 'password' %}
            <svg class="form-input-icon form-input-icon--right">
                <use href="img/svg-icons-final.svg#{{ icon_right }}"></use>
            </svg>
        {% endif %}

        {% if type == 'password' %}
            <button type="button" class="form-input-toggle js-password-toggle">
                <svg class="form-input-toggle__icon icon-eye">
                    <use href="img/svg-icons-final.svg#eye"></use>
                </svg>
                <svg class="form-input-toggle__icon icon-eye-hide">
                    <use href="img/svg-icons-final.svg#eye-hide"></use>
                </svg>
            </button>
        {% endif %}
    </div>

    {% if error %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endif %}
</div>
