<div class="sale-card {{ class }}">
    <div class="sale-card__content">
        <span class="sale-card__category">
            {{ category|default('Бессрочная акция') }}
        </span>

        <a href="{{ href|default('') }}" class="sale-card__title title title-h6">
            {{ title|default('Акция «2 по цене 1» за игры для консоли') }}
        </a>

        <span class="sale-card__text">
            {{ text|default('В преддверии киберспортивных соревнований запускаем акцию: 2 по цене 1. Подбирайте консольные игры на ваш вкус и наслаждайтесь атмосферным геймплеем.') }}
        </span>

        {% if badge %}
            {% include 'components/ui/badge.twig' with {
                text: badge.text|default('-10%'),
                type: badge.type|default('red'),
                size: badge.size|default('sm'),
                class: 'sale-card__badge',
                tag: 'div'
            } %}
        {% endif %}
    </div>

    <a href="{{ href|default('') }}">
        <img src="{{ image|default('https://premier-demo.ru/upload/iblock/1d3/hccjg6lv2pcekmizraow829mwp5adfkk.jpg') }}"
             alt="" class="sale-card__picture">
    </a>
</div>
