<button 
    type="button" 
    class="close-btn {{ class }}" 
    {% if dismiss %}data-bs-dismiss="{{ dismiss }}"{% endif %}
    {% if target %}data-bs-target="{{ target }}"{% endif %}
    {% if aria_label or (not aria_label is defined) %}aria-label="{{ aria_label|default('Close') }}"{% endif %}
    {% if id %}id="{{ id }}"{% endif %}
>
    <svg width="16" height="16">
        <use xlink:href="img/svg/icons.svg#close"></use>
    </svg>
</button>
